#first-body,
#secondy-body {
  text-align: center;
  background-color: #a5a6b3;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

#first-body {
  background-image: url('imagens/3.jpg');
}

#secondy-body {
  background-image: url('imagens/4.jpg');
}

button {
  background-color: #0052ea;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0003b3;
}

#exercicios-titulo,
#list-exercise-title,
#first-title,
#labelQuantExer,
#exercises-list {
  color: #fbfbfc !important; /* Exemplo: cor do texto vermelha */
  font-size: 24px; /* Exemplo: tamanho da fonte */
  font-weight: bold; /* Exemplo: texto em negrito */
  margin-bottom: 20px; /* Exemplo: margem inferior */
  font-family: 'Manrope', sans-serif;
}

#quantExer{
  font-size: 10px;
  padding: 10px;
}

.label-nome,
.label-series,
.label-repeticoes,
.nome-exercicio {
  color: #fbfbfc;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: #616164;
  width: fit-content; /* Ajusta o tamanho do box ao conteúdo */
  padding: 8px; /* Adiciona um espaçamento interno para melhorar a aparência */
  border-radius: 4px; /* Adiciona bordas arredondadas, opcional */
}

.series-container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  color: #fbfbfc;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: #616164;
  width: fit-content; /* Ajusta o tamanho do box ao conteúdo */
  padding: 8px; /* Adiciona um espaçamento interno para melhorar a aparência */
  border-radius: 4px; /* Adiciona bordas arredondadas, opcional */
  width: fit-content;
  margin: 20px auto;
}

#submit{
  margin: 20px auto;
}