body {
  text-align: center;
  background-color: #a5a6b3;
  padding: 20px;
}

button {
  background-color: #0052ea;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0003b3;
}

#exercicios-titulo {
  color: #fbfbfc !important; /* Exemplo: cor do texto vermelha */
  background-color:#28286d;
  font-size: 24px; /* Exemplo: tamanho da fonte */
  font-weight: bold; /* Exemplo: texto em negrito */
  margin-bottom: 20px; /* Exemplo: margem inferior */
  font-family: 'Manrope', sans-serif;
}

#labelQuantExer {
  color: #fbfbfc !important; /* Exemplo: cor do texto vermelha */
  font-size: 16px; /* Exemplo: tamanho da fonte */
  font-weight: bold; /* Exemplo: texto em negrito */
  margin-bottom: 20px; /* Exemplo: margem inferior */
  font-family: 'Manrope', sans-serif;
}